html(lang="pl")
  head
    title Terminy
    link(rel="stylesheet" href="/css/light.min.css" id="style-link")
    script.
      var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101242744);
    script(async src="//static.getclicky.com/js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body

  //- navbar start
  nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
    div(class="collapse navbar-collapse" id="navbarNav")
      ul(class="navbar-nav")
        li(class="nav-item active")
          a(class="nav-link" href="https://github.com/pawelmalak/studia-vs-koronawirus" target="blank") v0.7.6
        //- li(class="nav-item")
          //- a(class="nav-link ml-2" id="notify" href="#") Powiadomienia ()
        li(class="nav-item")
          a(class="nav-link ml-2" id="theme" href="#") Motyw (light)

  //- content start
  div(class="container-fluid")
    div(class="row pt-4 my-slider" id="columns-holder")

  //- scripts
  script(src="/dist/bundle.js")