.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;                     
}

.card:hover {
  cursor: grab;
}

.text-help {
  color: #747575;
}

.mt-5 {
  margin-top: 3rem;
}

.text-center {
  text-align: center;
}

.hidden-demo {
  border-color: coral;
}